.bg {
    margin: auto;
    display: flex;
    align-items: center;
    border: 0;
    text-align: center;
    height: 100vh;
    top: 0;
    left: 0;
}

#welcomeelement {
    margin: auto;
    margin-left: auto;
    width: 40rem;
    height: 15rem;
    top:0;
    display: block;
}
#welcomeelement:hover {
    transform: scale(1.1);
}

#welcomeback {
    color: var(--textcolor);
}

#username {
    text-decoration: underline;
}

#usernameinput {
    width: 15rem;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    border: 1px var(--textcolor) solid;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    padding-left: 1rem;
    height: 3em;
}


#usernamebtn {
    height: 3em;
    transition: 0.2s;
    border: 1px var(--textcolor) solid;
    background-color: var(--bgcolor);
    color: var(--textcolor);
    border-radius: 5px;
}
#usernamebtn:hover {
    background-color: rgb(32, 190, 0);
    color: white;
}


.leaderboard {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    width: 20em;
    padding: 1em;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(8px);
    
    -webkit-backdrop-filter: blur(8px);
    opacity: 0.8;
    transition: 0.5s;
    animation: appear 1s ease-in;
}

.leaderboard:hover {
    transform: scale(1.05);
}


.refreshbtn {
    margin-left: 18em;
    background-color: rgb(0, 89, 255);
    color: white;
}


.quizoftheweek {
    background-image: url("images/quizimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    margin: auto;
    border-radius: 20px;
    padding: 60px;
    transition: 0.5s;
    box-shadow: 5px 10px 8px 10px 888888;
    height: 50vh;
}


.quizoftheweek h1 {
    color: white; 
    font-family: 'Cinzel Decorative', cursive;
}
.quizoftheweek h1 span {
    border-radius: 5px;
}
#startquiz {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 15em;
    height: 5em;
    font-size: 1em;
    transition: 0.5s;
    border: none;
}

#startquiz:hover {
    transform: scale(1.1);
}


#startquiz {
    margin-top: 10em;
    text-align: center;
}


.latestresources {
    width: 100%;
    margin: 0;
    position: relative;
    background-color: var(--textcolor);
    color: var(--bgcolor);
    text-align: center;
}



/*Mobile*/
@media only screen and (max-width: 600px) {
    .quizoftheweek {
        height: 100vh;
    }
    #startquiz {
    
    }
}

/*Desktop*/
@media only screen and (min-width: 600px) {
    .leaderboard {
        float: right;
        margin-top: -80px;
       
    }
}